/* CHECKOUTPAGE COMPONENT */

.checkoutPage-container {
    padding-top: 20px;
}

/* CART SUMMARY COMPONENT */
.cartSummary-container {

    background-color: rgba(15, 117, 224, 0.1);
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    padding-bottom: 2px;

}

@media(max-width:900px) {
    .cartSummary-container {
        border-bottom: none;
    }
}

.cart-img {
    border: 0.1px solid black;
    border-radius: 5px;
    background-color: white;
}

.cartSummary-cost {

    border-top: 0.1px solid black;
    background-color: white;
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.2);
}


.cartSummary-checkout-button {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}

.cartSummary-checkout-text {

    margin-right: 0.4em;
}

.cart-checkout-button {
    display: inline-block;
    width: 40%;
    /* Adjust for different screen sizes using media queries */
    letter-spacing: 2px;
    color: white;
    border-radius: 0;
    background-color: #283047;
    height: 56.5px;
    text-align: center;
    text-decoration: none;
    /* Remove underline from link */
    padding: 15px;
    /* Adjust as needed for vertical alignment */
    margin: 1px;
}

.cart-checkout-button:hover {
    background-color: #FE6F49;
    border: none;
}

.cart-proceed-button {
    cursor: pointer;
    width: 40%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #283047;
    border-radius: 0;
    background-color: white;
    border: 1.5px solid #283047;
    height: 55px;
    text-align: center;
    padding: 15px;
    margin: 1px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cart-proceed-button:hover {

    background-color: #0F75E0;
    color: white;
}

@media (max-width: 900px) {
    .cartSummary-checkout-button {}
}

@media (max-width: 600px) {
    .cartSummary-checkout-button {
        flex-direction: column;

    }

    .cartSummary-checkout-text {
        display: none;
        margin-right: 0.5em;
    }
}



/* SHIPPING COMPONENT */

.checkout-shipping-container {
    padding: 20px;
}


.checkout-shipping {
    margin-bottom: 20px;
}

.checkout-shipping-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px;
    border: 1px solid gray;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

.checkout-shipping-address {
    border: 1px solid gray;
    padding: 13px;
    border-radius: 0px 0px 5px 5px;

}

.checkout-shipping-change {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.checkout-shipping-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-shipping-item-0 {
    border-top: 1px solid gray;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.checkout-shipping-item-0,
.checkout-shipping-item-1,
.checkout-shipping-item-2,
.checkout-shipping-item-3 {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, border-width 0.3s ease-in-out;
}

.checkout-shipping-item-3 {
    border-bottom: 1px solid gray;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-between;

}

.checkout-shipping-item-0:hover,
.checkout-shipping-item-1:hover,
.checkout-shipping-item-2:hover,
.checkout-shipping-item-3:hover {
    background-color: rgba(15, 117, 224, 0.1);

    border-color: #0F75E0;

}


.checkout-shipping-button {
    margin-left: 5px;
    min-width: 80px;
    max-width: 80px;
    font-size: 12px;

}



.checkout-shipping-item-price-container {

    display: flex;
    margin-left: 5px;
}





/* INFORMATION COMPONENT */
.information-form-container {
    /*border: 1px solid black;*/
    padding: 0 5% 0 5%;
}

.information-titles {
    font-variant: small-caps;

    margin: 0px 5px 0px 5px;
}

.information-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}







/* PAYMENT FORM CSS */
.checkout-paymentForm-SQUARE {
    display: flex;
    align-items: center;

}

.square-text {
    z-index: 10000;
}

.checkout-paymentForm-container {
    width: 93%;
    padding: 20px;

    border-Radius: 10px;
    background-Color: #fff;
}

.checkout-payment-card-form {

    margin-top: 20px;
}

.checkout-payment-card-form button {
    letter-spacing: 2px;
    color: white;
    background-color: #283047;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.checkout-payment-card-form button:hover {
    transition: background-color 0.3s ease;
    background-color: #FE6F49;
    margin-top: 10px;
}

.checkout-paymentForm-logo {
    width: 200px;
    margin-left: -40px;
}




@media(max-width:400px) {
    .checkout-paymentForm-SQUARE {
        text-align: left;
        flex-direction: column;

    }

    .square-text {
        transform: translate(0, 20px);
    }

    .checkout-paymentForm-logo {

        width: 200px;
        margin-left: 0px;

        transform: translate(-100px, -40px);
    }
}