/* CHECKOUTPAGE COMPONENT */

.checkoutPage-container {
    padding-top: 20px;

}

/* CART SUMMARY COMPONENT */

.cartSummary-component-box {
    margin-top: 10px;

}





.cartSummary-container {

    background-color: rgba(15, 117, 224, 0.1);
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    padding-bottom: 4px;

}

@media(max-width:900px) {
    .cartSummary-container {
        border-bottom: none;
    }
}

.cart-img {
    transition: transform 0.3s ease;
    border: 0.1px solid black;
    border-radius: 5px;
    background-color: white;

}

.cart-img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}


.cartSummary-cost {
    margin-bottom: -2px;
    border-top: 0.1px solid black;
    background-color: white;
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.2);
}


.cartSummary-checkout-button {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}

.cartSummary-checkout-text {
    margin-right: 0.4em;
    margin-left: 0.4em;
}

.cart-checkout-button {
    display: inline-block;
    width: 40%;
    /* Adjust for different screen sizes using media queries */
    letter-spacing: 2px;
    color: white;
    border-radius: 0;
    background-color: #283047;
    height: 56.5px;
    text-align: center;
    text-decoration: none;
    /* Remove underline from link */
    padding: 15px;
    /* Adjust as needed for vertical alignment */
    margin: 1px;
}

.cart-checkout-button:hover {
    background-color: #FE6F49;
    border: none;
}

.cart-proceed-button {
    cursor: pointer;
    width: 40%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #283047;
    border-radius: 0;
    background-color: white;
    border: 1.5px solid #283047;
    height: 55px;
    text-align: center;
    padding: 15px;
    margin: 1px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cart-proceed-button:hover {

    background-color: #0F75E0;
    color: white;
}

@media (min-width: 685px) {
    .cartSummary-checkout-text2 {
        display: none;
    }
}

@media (max-width: 685px) {
    .cartSummary-checkout-button {
        flex-direction: column;

    }

    .cartSummary-component-box {
        margin-top: -30px;

    }

    .cartSummary-checkout-text {
        display: none;
        margin-right: 0.5em;
    }
}

@media (max-width: 370px) {
    .brand-icon-checkout {
        position: fixed;
        left: -10px;
    }

}

@media (max-width: 290px) {
    .brand-icon-checkout {
        position: fixed;
        left: -30px;
    }

}



/* SHIPPING COMPONENT */

.checkout-shipping-container {
    padding: 20px;
}


.checkout-shipping {
    margin-bottom: 20px;
    height: 217px;
}

.checkout-shipping-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px;
    border: 1px solid gray;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

.checkout-shipping-address {
    border: 1px solid gray;
    padding: 13px;
    border-radius: 0px 0px 5px 5px;

}

.checkout-shipping-change {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.checkout-shipping-item-container {
    height: 91.5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:400px) {
    .checkout-shipping-item-container {
        height: auto
    }
}

.checkout-shipping-item-0 {
    border-top: 1px solid gray;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.checkout-shipping-item-0,
.checkout-shipping-item-1,
.checkout-shipping-item-2,
.checkout-shipping-item-3 {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, border-width 0.3s ease-in-out;
}

.checkout-shipping-item-3 {
    border-bottom: 1px solid gray;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-between;

}

.checkout-shipping-item-0:hover,
.checkout-shipping-item-1:hover,
.checkout-shipping-item-2:hover,
.checkout-shipping-item-3:hover {
    background-color: rgba(15, 117, 224, 0.1);

    border-color: #0F75E0;

}


.checkout-shipping-button {
    margin-left: 5px;
    min-width: 80px;
    max-width: 80px;
    font-size: 12px;

}



.checkout-shipping-item-price-container {

    display: flex;
    margin-left: 5px;
}

@media(max-width:501px) {
    .checkout-shipping {
        height: auto;
    }
}




/* INFORMATION COMPONENT */
.information-form-container {
    /*border: 1px solid black;*/
    padding: 0 5% 0 5%;
}

.information-titles {
    font-variant: small-caps;

    margin: 0px 5px 0px 5px;
}

.information-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}







/* PAYMENT FORM CSS */

.checkout-paymentForm-SQUARE {
    display: flex;
    align-items: center;
    margin-top: 18px;

}

.square-text {
    z-index: 10000;
}

.checkout-paymentForm-container {
    width: 93%;
    padding: 20px;

    border-Radius: 10px;
    background-Color: #fff;
}

.checkout-payment-card-form {

    margin-top: 20px;
}

.checkout-payment-card-form button {
    letter-spacing: 2px;
    color: white;
    background-color: #283047;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.checkout-payment-card-form button:hover {
    transition: background-color 0.3s ease;
    background-color: #FE6F49;
    margin-top: 10px;
}

.checkout-paymentForm-logo {
    width: 200px;
    margin-left: -40px;
}


.card-container {

    width: 41.875rem;
    height: 28.4375rem;
    background-color: var(--black);
    font-family: 'Questrial', sans-serif;
    position: relative;
    z-index: 1;


}

//@use postcss-cssnext;

.card-super-container {
    --black: #525252;
    --orange: #FFB000;
    --white: #F7FBFC;
    --grey: #C2C2C2;
}

#page {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 17.5rem;
    height: 11rem;
    background-color: var(--white);
    border-radius: .7rem;
    padding: 1.3rem 1.6rem;
    position: absolute;
    top: 2.75rem;
    right: 4.0rem;

    &:after {
        content: '';
        display: block;
        width: 20.5rem;
        height: 15rem;
        background-color: #2A2A2A;
        border-radius: .7rem;
        position: absolute;
        top: 2.7rem;
        right: -1.5rem;
        transform: rotate(8deg);
        z-index: -1;
    }
}

.chip-brand {
    display: flex;
    justify-content: space-between;

}

.chip-svg {
    height: 70px;
    width: 38px;

}

.card-icon-svg {
    transform: scale(1.4);
}


form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;

    & label {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: .90rem;
        color: #C2C2C2;
        margin-top: .35rem;
    }

    & label[for=name] {
        width: 72%;
    }

    & label[for=date] {
        width: 22%;
        margin-left: 6%;
    }

    & label[for=cvc] {
        width: 15%;
        position: absolute;
        right: 7%;
        bottom: -1.5rem;
    }

    & label[for=remember] {
        width: auto;
        height: 2.8rem;
        font-size: .7rem;
        position: absolute;
        left: -1.5rem;
        bottom: -10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;

        & input {
            margin-right: .5rem;
            filter: invert(100%) hue-rotate(30deg) brightness(1.7);
            color: red;
            height: 1rem;
            width: 1rem;
        }
    }

    & input {
        border: none;
        border-bottom: 1px solid var(--grey);
        outline: none;
        background-color: transparent;
        font-size: 1.1rem;
        padding: .2rem 0;

        &#cvc {
            color: white;
        }
    }

    & button {
        height: 2.8rem;
        width: 11.8rem;
        font-size: .8rem;
        position: absolute;
        bottom: -10rem;
        left: 10rem;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        & .fa-angle-right {
            font-size: 2rem;
            position: absolute;
            left: 72%;
        }
    }
}



@media(max-width:1000px) {
    .checkout-paymentForm-SQUARE {
        margin-top: -15px;

    }
}


@media(max-width:500px) {
    .checkout-shipping-change {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media(max-width:400px) {
    .checkout-paymentForm-SQUARE {
        text-align: left;
        flex-direction: column;

    }

    .square-text {
        transform: translate(0, 20px);
        z-index: 1;
    }



    .checkout-paymentForm-logo {
        margin-top: 20px;
        width: 200px;
        margin-left: 0px;
        transform: translate(-100px, -40px);
    }
}