.dropdown-container {
    display: flex;
}

.dropdown {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    font-weight: 100;

}

.dropdown-section {
    padding: 0 20px;
}



.list-container {

    display: block;

}

.list-header {
    margin-left: 15px;
    font-weight: 400;

}


.list-item {
    /* Ensures the list items are in a column as block elements stack vertically */
    display: block;

    color: gray;

}

.list-content {
    cursor: pointer;
}

@media (min-width: 901px) {
    .list-content {
        display: inline-block;
        /* Allows the element to size with its content */
        position: relative;
        /* Ensures the pseudo-element is positioned correctly */

        /* Provide some space for the underline */
        cursor: pointer;
        /* Hide the overflow to prevent the underline from being visible when width is 0 */
        overflow: hidden;
        transition: color 0.2s ease;
        font-size: 14px;


    }

    .list-content:hover {
        color: #FE6F49;
    }

    .list-content::after {
        content: '';
        display: block;
        height: .5px;
        /* Height of the underline */
        width: 0;
        /* Start with a width of 0 */
        background: #FE6F49;
        /* Use the text color for the underline */
        transition: width 0.3s ease;
        /* Animate the width change */

    }


    .list-content:hover::after {
        width: 100%;
        color: #FE6F49
            /* Full width on hover */
    }
}

/* Mobile default hidden */
.dropdown .list-item {
    display: list-item;
    margin-bottom: -15px;

}

/* Show only when the section is opened */
.dropdown-section.opened .list-item {
    display: list-item;
}


.icon-button-dropdown {
    transform: translateY(-0px);


}


.arrow-icon {
    transition: transform 0.3s ease-in-out;
    color: black;

    vertical-align: middle;

}


.arrow-icon.rotate {
    transform: rotate(180deg);
    /* Rotate the arrow 180 degrees */
}




/* For mobile: by default hide all the list items */
@media (max-width: 901px) {
    .list-header {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 34px;
        margin-bottom: -10px;
        border-bottom: .5px solid gray;
        margin-top: 10px;
        width: 100%;
    }

    .list-content {
        font-size: large;
        margin: 5px;
        margin-right: 30px;


    }

    .dropdown {
        padding: 10px 10px;


    }

    .dropdown-section {
        padding: 0 20px;
    }

}


.dropdown-featured {
    margin-right: -100px;
    font-size: 14;
    transform: translate(-120px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dropdown-featured-container:hover {
    background-color: #FE6F49;
}

.drowdown-featured-container {
    margin-bottom: 10px;
    padding: 5px;
    border: 0.1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-featured-header {
    font-weight: 400;
    transform: translateY(-7px);
}

.dropdown-featured-img {
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
}

.dropdown-featured-price {
    font-size: 14px;
}

.dropdown-featured-img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.dropdown-featured-name {
    font-size: 14px;
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide text that goes beyond the width */
    text-overflow: ellipsis;
    /* Add ellipsis at the end of the truncated text */
    max-width: 160px;
    /* Set a max-width for the text */
    display: inline-block;
    /* Needed to apply width and overflow properties */
}

.dropdown-featured-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.dropdown-featured-button {
    font-size: 10px;
    padding: 5px;
    border-radius: 0px;
    margin-right: 10px;
    height: 26px;
}


@media(max-width:902px) {
    .dropdown-featured {
        display: none;
    }

}