/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #686D6E;
    margin: -10px;
    margin-top: -15px;
    z-index: 1000;
    transition: background 0.3s ease, opacity 0.3s ease-out;
}


/* Navbar on scroll */
.navbar-black {
    background: rgba(104, 109, 110, 0.95);
    transition: background 0.3s ease, opacity 0.3s ease-out;
    opacity: 0.9;
}

/* Logo image */
.logo-image {
    max-width: 80px;
    height: auto;
    transition: filter 2s ease;
}

.logo-image:hover {
    filter: saturate(500%);
}

/* Media queries */
@media (max-width: 600px) {
    .navbar-top {
        margin-right: -45px;
    }
}

@media (max-width: 480px) {
    .navigation-logo {
        display: none;
    }

    .phone-logo {
        display: none;
    }

}

@media (max-width: 360px) {
    .logo-image {
        margin-right: -40px;
        height: 60px;
    }
}

@media (max-width: 300px) {
    .logo-image {
        display: none;
    }

    .navbar-box-top {

        margin-left: -50px;
    }
}

@media (max-width: 450px) {
    .navbar-container {
        margin-bottom: 91px;
    }

    .navbar {
        background-color: #686D6E;
        transition: background 0.3s ease, opacity 0.3s ease-out;
        opacity: 0.9;
    }
}

/* Mobile screens */
@media (max-width: 740px) {
    .navbar-right {
        display: flex;
    }

    .logo-image {
        margin-top: 18px;
    }
}

/* Navigation icons and links */
.navigation-logo,
.navigation-logo1 {
    color: #00BCD4;

}


.navigation-logo:hover {
    color: #4A9DA6;
    transition: color 0.5s ease;
}

.phone-logo {}

.phone-logo,
.phone-logo1 {
    color: #00BCD4;

}

.phone-logo:hover,
.phone-logo1:hover {
    color: #4A9DA6;
    transition: color 0.5s ease;
}

.shop-logo,
.shop-logo1 {
    color: #00BCD4;

}

.shop-logo:hover,
.shop-logo1:hover {
    color: #4A9DA6;
    transition: color 0.5s ease;
}

.shop-icon {
    background-color: red;
    border-radius: 50%;
}

/* Account and Cart section */
.navbar-account-cart {
    margin-top: 25px;
}

.navbar-left {}

.navbar-logo {
    margin-left: 10px;
}

/* Default styles for .navbar-right */
.navbar-right {}

.navbar-top {
    display: flex;
    margin-bottom: 5px;
}

.navbar-top a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbar-bottom a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.navbar-bottom a:hover {
    color: #4A9DA6;
    transition: color 0.5s ease;
    padding-bottom: 10px;
    border-bottom: 3px solid #00BCD4;
    transition: 0.3s border-bottom ease-in;
}

/* Additional styles for your new structure */
.navbar-box-top {
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom: 2px solid #4A9DA6;
}

.navbar-box-top svg {
    transform: translateY(8px);
}

/* Individual sections */
.navbar-address,
.navbar-phone,
.navbar-user,
.navbar-cart {
    margin-right: 30px;
}

.navbar-phone:hover svg,
.navbar-phone:hover a,
.navbar-address:hover svg,
.navbar-address:hover a,
.navbar-user:hover svg,
.navbar-user:hover a,
.navbar-cart:hover a,
.navbar-cart:hover svg {
    transition: color 0.5s ease;
    color: #4A9DA6;
}

/* Navbar bottom links */
.navbar-bottom {
    background-color: transparent;
    list-style-type: none;
    margin-right: 3px;
}

.navbar-bottom ul {
    margin-left: -6.5%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Hamburger menu icon styles */
.mobile-menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 25px;
}

.mobile-menu-icon:hover {
    .bar {
        background-color: #4A9DA6;
    }
}

.mobile-menu-icon .bar {
    width: 40px;
    height: 4px;
    background-color: #00BCD4;
    margin: 5px 0;
    transition: 0.5s;
    transform: translateY(5px);
}


.menu-bars.open .bar:nth-child(1) {
    transform: translate(0px, -4px);
}

/* Rotate the top bar */
.menu-bars.open .bar:nth-child(2) {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-bars.open {
    transition: 0.5s;
    transform: translate(0px, 5px);
}

/* Rotate the middle bar to make it disappear */
.menu-bars.open .bar:nth-child(3) {
    opacity: 0;
}

/* Rotate the bottom bar */
.menu-bars.open .bar:nth-child(4) {
    transform: rotate(-45deg) translate(6.5px, -7.8px);
}

/* Full-screen overlay */
.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rollIn 0.5s cubic-bezier(0, 0, 0.2, 1);
}

/* Modify the mobile-dropdown styles */
.mobile-dropdown {
    margin: 50px;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
}

.navbar-bottom-mobile {
    margin: 40px;
}

/* MOBILE TEXT */
.cart {
    transform: translate(15px, -5px);
}

.account {
    transform: translate(5px, -5px);
}

.phone {
    transform: translate(5px, -5px);
}

.navigation {
    transform: translate(0px, -5px);
}