.brand-header {
    font-family: 'Playfair Display', serif;
    margin-left: 10%;
    border-bottom: 0.1px solid black;
    padding-left: 15px;
    margin-right: 50px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-img-container {
    width: 250px;
    height: 180px;

}



.brand-image {
    width: 280px;
    height: auto;
    object-fit: scale-down;
}



.brand-item button {
    width: 100%;
    max-width: 280px;
    min-width: 280px;
    margin-top: -40px;
    border-radius: 0;
    background-color: #FE6F49;
    color: #FFFFFF;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: 30px;
}

.brand-item button:hover {
    background-color: #282F48;
}

.brand-name {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    padding: none;
    margin: none;
}

.brand-description {
    padding: 0;
    margin: 0;
}

.brand-popover-button {
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    background-color: #282F48;
    color: #FFFFFF;
    transform: translate(0, -40px);
    justify-content: center;
}

@media (max-width: 900px) {
    .brand {
        justify-content: left;
    }
}

@media (max-width: 360px) {
    .brand {
        margin-left: -45px;
    }

    .brand-name,
    .brand-price {
        text-align: center;
    }


}