.shop-img {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    height: 150px;
}

.shop-img:hover {
    transform: scale(1.2);
    cursor: pointer;

}


.shop-name {
    text-align: center;

}

.shop-price {}

.shop-button-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.shop-button-cart {
    border-radius: 0px;
    width: 140px;
    height: 45px;

}

.shop-button-view {
    border-radius: 0;
    width: 140px;
    height: 45px;
}

.cart-img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}